    {{> head}}


    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>El señor del bigote</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi fuga doloribus laudantium fugit odit suscipit numquam? Similique ullam asperiores eveniet expedita maiores mollitia, magnam animi facere doloribus, at assumenda aliquid?
        </div>

        
        <div class="col-4">
            <img src="assets/img/bigote.jpg" class="img-thumbnail"/>
        </div>


    </div>


 {{> footer}}
